
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #cc2525, #e27979, #ffffff);
  transition: background 0.5s ease-in-out;
}


.navbar {
  color: black;
  background-color: #8a0202;
}

.jumbotron {
  background-color: transparent;
  padding: 4rem 1rem;
}

.wave1 {
  margin-top: -100px;
}

h2 {
  font-weight: 800;
}

.card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #fefefe;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  padding: 4rem 0;
}

section h2 {
  margin-bottom: 2rem;
}

#contact form {
  background: #f9f9fc;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

footer {
  background-color: #9b0404;
  padding: 1rem 0 0.5rem 0;
  margin-top: 4rem;
  border-top: 3px solid #fff;
}

footer .social-icons a {
  color: white;
  font-size: 1.2rem;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

footer .social-icons a:hover {
  color: #dfe6e9;
}

.social-icons {
  margin-top: 0.5rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
